In [98]:
import pandas as pd
from datetime import datetime

PENETRACION DE INTERMET FIJO (POR CADA 100 HOGARES)

In [99]:
df_01 = pd.read_csv("penetracion_internet_fijo.csv")
df_01.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 864 entries, 0 to 863
Data columns (total 7 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           864 non-null    int64
 1   Trimestre                     864 non-null    int64
 2   Provincia                     864 non-null    object
 3   Accesos por cada 100 hogares  864 non-null    object
 4   Unnamed: 4                    0 non-null      float64
 5   Unnamed: 5                    0 non-null      float64
 6   Unnamed: 6                    0 non-null      float64
dtypes: float64(3), int64(2), object(2)
memory usage: 47.4+ KB

In [100]:
df_01 = df_01.drop(columns=["Unnamed: 4", "Unnamed: 5", "Unnamed: 6"]) #Eliminar columnas vacias
df_01["Accesos por cada 100 hogares"] = pd.to_numeric(df_01["Accesos por cada 100 hogares"].str.replace(',', '.'), errors='coerce')

In [101]:
df_01.head()

    Año  Trimestre        Provincia  Accesos por cada 100 hogares
0  2022          4     Buenos Aires                         78.94
1  2022          4  Capital Federal                        122.73
2  2022          4        Catamarca                         65.77
3  2022          4            Chaco                         43.62
4  2022          4           Chubut                         85.57

In [102]:
print(f"En Argentina {len(df_01['Provincia'].unique())} provincias poseen acceso a internet fijo entre los años {df_01['Año'].min()} y {df_01['Año'].max()}") #24 provincias

En Argentina 24 provincias poseen acceso a internet fijo entre los años 2014 y 2022

In [103]:
df_01 = df_01.sort_values(by=["Provincia", 'Año', 'Trimestre'])
df_01['%_Variacion'] = df_01['Accesos por cada 100 hogares'].pct_change() * 100
df_01

      Año  Trimestre     Provincia  Accesos por cada 100 hogares  %_Variacion
840  2014          1  Buenos Aires                         54.57          NaN
816  2014          2  Buenos Aires                         55.06     0.897929
792  2014          3  Buenos Aires                         56.75     3.069379
768  2014          4  Buenos Aires                         56.09    -1.162996
744  2015          1  Buenos Aires                         56.37     0.499198
..    ...        ...           ...                           ...          ...
119  2021          4       Tucumán                         55.93     2.360908
95   2022          1       Tucumán                         57.39     2.610406
71   2022          2       Tucumán                         59.31     3.345531
47   2022          3       Tucumán                         61.14     3.085483
23   2022          4       Tucumán                         61.04    -0.163559

[864 rows x 5 columns]

PENETRACION POR HOGARES NACIONAL DE INTERNET FIJO

In [36]:
df_02 = pd.read_csv("penetracion_hogares_nacional_internet_fijo.csv")
df_02.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   Año                           36 non-null     int64
 1   Trimestre                     36 non-null     int64
 2   Accesos por cada 100 hogares  36 non-null     object
 3   Accesos por cada 100 hab      36 non-null     object
 4   Periodo                       36 non-null     object
dtypes: int64(2), object(3)
memory usage: 1.5+ KB

TOTAL NACIONAL DE ACCESOS A INTERNET FIJO POR BANDA ANCHA Y BANDA ANGOSTA

In [35]:
df_03 = pd.read_csv("total_accesos_BAncha_BAngosta.csv")
df_03.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Año               36 non-null     int64
 1   Trimestre         36 non-null     int64
 2   Banda ancha fija  36 non-null     int64
 3   Dial up           36 non-null     int64
 4   Total             36 non-null     int64
 5   Periodo           36 non-null     object
dtypes: int64(5), object(1)
memory usage: 1.8+ KB

ACCESOS A BANDA ANCHA Y BANDA ANGOSTA POR PROVINCIA

In [34]:
df_04 = pd.read_csv("BAncha_BAngosta_provincia.csv")
df_04.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 864 entries, 0 to 863
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Año               864 non-null    int64
 1   Trimestre         864 non-null    int64
 2   Provincia         864 non-null    object
 3   Banda ancha fija  864 non-null    int64
 4   Dial up           862 non-null    float64
 5   Total             864 non-null    int64
dtypes: float64(1), int64(4), object(1)
memory usage: 40.6+ KB

SERIE TRIMESTRAL DE ACCESOS A INTERNET FIJO POR TECNOLOGIA

In [33]:
df_05 = pd.read_csv("Internet_Accesos-por-tecnologia.csv")
df_05.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           36 non-null     int64
 1   Trimestre     36 non-null     int64
 2   ADSL          36 non-null     int64
 3   Cablemodem    36 non-null     int64
 4   Fibra óptica  36 non-null     int64
 5   Wireless      36 non-null     int64
 6   Otros         36 non-null     int64
 7   Total         36 non-null     int64
 8   Periodo       36 non-null     object
dtypes: int64(8), object(1)
memory usage: 2.7+ KB

ACCESO A INTERNET FIJO POR TECNOLOGIA Y PROVINCIA

In [32]:
df_06 = pd.read_csv("Internet_Accesos-por-tecnologia_provincia.csv")
df_06.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 865 entries, 0 to 864
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Año           865 non-null    object
 1   Trimestre     865 non-null    object
 2   Provincia     864 non-null    object
 3   ADSL          864 non-null    float64
 4   Cablemodem    864 non-null    float64
 5   Fibra óptica  864 non-null    float64
 6   Wireless      864 non-null    float64
 7   Otros         864 non-null    float64
 8   Total         864 non-null    float64
dtypes: float64(6), object(3)
memory usage: 60.9+ KB

VELOCIDAD MEDIA DE BAJADA DE INTERNET FIJO

In [31]:
df_07 = pd.read_csv("historico_velocidad_internet.csv")
df_07.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Año                     36 non-null     int64
 1   Trimestre               36 non-null     int64
 2   Mbps (Media de bajada)  36 non-null     float64
 3   Trimestre.1             36 non-null     object
dtypes: float64(1), int64(2), object(1)
memory usage: 1.2+ KB

VELOCIDAD MEDIA DE BAJADA DE INTERNET FIJO POR PROVINCIA

In [30]:
df_08 = pd.read_csv("historico_velocidad_internet_provincia.csv")
df_08.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 864 entries, 0 to 863
Data columns (total 4 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Año                     864 non-null    int64
 1   Trimestre               864 non-null    int64
 2   Provincia               864 non-null    object
 3   Mbps (Media de bajada)  864 non-null    float64
dtypes: float64(1), int64(2), object(1)
memory usage: 27.1+ KB

DISTRIBUCION DE LOS ACCESOS TOTALES NACIONALES A INTERNET FIJO POR VELOCIDAD

In [29]:
df_09 = pd.read_csv("Internet_Accesos-por-velocidad.csv")
df_09.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 11 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Año                      36 non-null     int64
 1   Trimestre                36 non-null     int64
 2   Hasta 512 kbps           36 non-null     float64
 3   Entre 512 Kbps y 1 Mbps  36 non-null     float64
 4   Entre 1 Mbps y 6 Mbps    36 non-null     object
 5   Entre 6 Mbps y 10 Mbps   36 non-null     object
 6   Entre 10 Mbps y 20 Mbps  36 non-null     object
 7   Entre 20 Mbps y 30 Mbps  36 non-null     object
 8   Más de 30 Mbps           36 non-null     object
 9   OTROS                    36 non-null     float64
 10  Total                    36 non-null     object
dtypes: float64(3), int64(2), object(6)
memory usage: 3.2+ KB

ACCESO A INTERNET FIJO POR RANGOS DE VELOCIDAD DE BAJADA Y PROVINCIA

In [28]:
df_10 = pd.read_csv("Internet_Accesos-por-velocidad_rangos_provincia.csv")
df_10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 864 entries, 0 to 863
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Año                  864 non-null    int64
 1   Trimestre            864 non-null    int64
 2   Provincia            864 non-null    object
 3   HASTA 512 kbps       864 non-null    float64
 4   + 512 Kbps - 1 Mbps  864 non-null    float64
 5   + 1 Mbps - 6 Mbps    864 non-null    object
 6   + 6 Mbps - 10 Mbps   864 non-null    float64
 7   + 10 Mbps - 20 Mbps  864 non-null    float64
 8   + 20 Mbps - 30 Mbps  864 non-null    float64
 9   + 30 Mbps            864 non-null    object
 10  OTROS                858 non-null    float64
 11  Total                864 non-null    object
dtypes: float64(6), int64(2), object(4)
memory usage: 81.1+ KB

ACCESOS A INTERNET FIJO POR VELOCIDAD DE BAJADA Y PROVINCIA

In [27]:
df_11 = pd.read_csv("AccesosaInternetfijoporvelocidadbajadayprovincia.csv")
df_11.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 505 entries, 0 to 504
Data columns (total 97 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Año         504 non-null    float64
 1   Trimestre   504 non-null    float64
 2   Provincia   504 non-null    object
 3   Otros       504 non-null    object
 4   0,256 Mbps  504 non-null    object
 5   0,375 Mbps  504 non-null    object
 6   0,625 Mbps  504 non-null    object
 7   0,5 Mbps    504 non-null    float64
 8   0,512 Mbps  504 non-null    object
 9   0,75 Mbps   504 non-null    object
 10  1 Mbps      504 non-null    object
 11  1,2 Mbps    504 non-null    object
 12  1,25 Mbps   504 non-null    object
 13  1,5 Mbps    504 non-null    object
 14  2 Mbps      504 non-null    object
 15  2,2 Mbps    504 non-null    object
 16  2,5 Mbps    505 non-null    object
 17  6,7 Mbps    504 non-null    object
 18  3 Mbps      504 non-null    float64
 19  3,2 Mbps    504 non-null    object
 20  3,3 Mbps    504 non-null    object
 21  3,5 Mbps    504 non-null    object
 22  4 Mbps      504 non-null    object
 23  4,5 Mbps    504 non-null    object
 24  5 Mbps      504 non-null    object
 25  6 Mbps      504 non-null    object
 26  6,4 Mbps    504 non-null    object
 27  7 Mbps      504 non-null    object
 28  7,5 Mbps    504 non-null    object
 29  8 Mbps      504 non-null    object
 30  9 Mbps      504 non-null    object
 31  10 Mbps     504 non-null    float64
 32  10,2 Mbps   504 non-null    object
 33  10,6 Mbps   504 non-null    object
 34  11 Mbps     504 non-null    object
 35  12 Mbps     504 non-null    object
 36  12,3 Mbps   504 non-null    object
 37  13 Mbps     504 non-null    object
 38  14 Mbps     504 non-null    object
 39  15 Mbps     504 non-null    object
 40  16 Mbps     504 non-null    object
 41  17 Mbps     504 non-null    object
 42  18 Mbps     504 non-null    object
 43  19 Mbps     504 non-null    object
 44  20 Mbps     504 non-null    object
 45  20,5 Mbps   504 non-null    object
 46  21 Mbps     504 non-null    object
 47  22 Mbps     504 non-null    object
 48  23 Mbps     504 non-null    object
 49  24 Mbps     504 non-null    object
 50  25 Mbps     504 non-null    object
 51  25,1 Mbps   504 non-null    object
 52  25,11 Mbps  504 non-null    object
 53  25,5 Mbps   504 non-null    object
 54  26 Mbps     504 non-null    object
 55  27 Mbps     504 non-null    object
 56  28 Mbps     504 non-null    object
 57  29 Mbps     504 non-null    object
 58  30 Mbps     504 non-null    object
 59  31 Mbps     504 non-null    object
 60  32 Mbps     504 non-null    object
 61  34 Mbps     504 non-null    object
 62  35 Mbps     504 non-null    object
 63  36 Mbps     504 non-null    object
 64  37 Mbps     504 non-null    object
 65  38 Mbps     504 non-null    object
 66  39 Mbps     504 non-null    object
 67  40 Mbps     504 non-null    object
 68  41 Mbps     504 non-null    object
 69  45 Mbps     504 non-null    object
 70  46 Mbps     504 non-null    object
 71  47 Mbps     504 non-null    object
 72  48 Mbps     504 non-null    object
 73  49 Mbps     504 non-null    object
 74  50 Mbps     504 non-null    object
 75  50,1 Mbps   504 non-null    object
 76  51 Mbps     504 non-null    object
 77  50,25 Mbps  504 non-null    object
 78  52 Mbps     504 non-null    object
 79  54 Mbps     504 non-null    object
 80  55 Mbps     504 non-null    object
 81  56 Mbps     504 non-null    object
 82  58 Mbps     504 non-null    object
 83  59 Mbps     504 non-null    object
 84  60 Mbps     504 non-null    object
 85  61 Mbps     504 non-null    object
 86  62 Mbps     504 non-null    object
 87  63 Mbps     504 non-null    object
 88  64 Mbps     504 non-null    object
 89  65 Mbps     504 non-null    object
 90  66 Mbps     504 non-null    object
 91  67 Mbps     504 non-null    object
 92  68 Mbps     504 non-null    object
 93  70 Mbps     504 non-null    object
 94  71 Mbps     504 non-null    object
 95  75 Mbps     504 non-null    object
 96  77 Mbps     504 non-null    object
dtypes: float64(5), object(92)
memory usage: 382.8+ KB

INGRESOS TRIMESTRALES POR LA PRESTACION DEL SERVICIO DE INTERNET FIJO

In [26]:
df_12 = pd.read_csv("Internet_Ingresos.csv")
df_12.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 4 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Año                        36 non-null     int64
 1   Trimestre                  36 non-null     int64
 2   Ingresos (miles de pesos)  36 non-null     int64
 3   Periodo                    36 non-null     object
dtypes: int64(3), object(1)
memory usage: 1.2+ KB

ACCESO A INTERNET FIJO POR VELOCIDAD DE BAJADA Y LOCALIDAD

In [25]:
df_13 = pd.read_csv("AccesosaInternetfijoporvelocidaddebajadaylocalidad.csv")
df_13.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3095 entries, 0 to 3094
Data columns (total 83 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Provincia   3095 non-null   object
 1   Partido     3095 non-null   object
 2   Localidad   3095 non-null   object
 3   Link Indec  3095 non-null   object
 4   Otros       962 non-null    float64
 5   0,256 Mbps  28 non-null     float64
 6   0,375 Mbps  1 non-null      float64
 7   0,5 Mbps    643 non-null    float64
 8   0,512 Mbps  523 non-null    float64
 9   0,625 Mbps  1 non-null      float64
 10  0,75 Mbps   284 non-null    float64
 11  1 Mbps      891 non-null    float64
 12  1,25 Mbps   1 non-null      float64
 13  1,5 Mbps    15 non-null     float64
 14  2 Mbps      722 non-null    float64
 15  2,2 Mbps    1 non-null      float64
 16  2,5 Mbps    4 non-null      float64
 17  3 Mbps      1351 non-null   float64
 18  3,3 Mbps    1 non-null      float64
 19  3,5 Mbps    373 non-null    float64
 20  4 Mbps      534 non-null    float64
 21  4,5 Mbps    1 non-null      float64
 22  5 Mbps      1003 non-null   float64
 23  6 Mbps      1413 non-null   float64
 24  6,4 Mbps    1 non-null      float64
 25  7 Mbps      225 non-null    float64
 26  7,5 Mbps    4 non-null      float64
 27  8 Mbps      630 non-null    float64
 28  9 Mbps      50 non-null     float64
 29  10 Mbps     1731 non-null   float64
 30  10,2 Mbps   1 non-null      float64
 31  11 Mbps     27 non-null     float64
 32  12 Mbps     306 non-null    float64
 33  12,3 Mbps   1 non-null      float64
 34  13 Mbps     16 non-null     float64
 35  14 Mbps     24 non-null     float64
 36  15 Mbps     1061 non-null   float64
 37  16 Mbps     16 non-null     float64
 38  17 Mbps     1 non-null      float64
 39  18 Mbps     20 non-null     float64
 40  20 Mbps     1106 non-null   float64
 41  20,5 Mbps   1 non-null      float64
 42  21 Mbps     5 non-null      float64
 43  22 Mbps     2 non-null      float64
 44  23 Mbps     2 non-null      float64
 45  24 Mbps     19 non-null     float64
 46  25 Mbps     457 non-null    float64
 47  25,1 Mbps   1 non-null      float64
 48  25,5 Mbps   1 non-null      float64
 49  26 Mbps     1 non-null      float64
 50  27 Mbps     1 non-null      float64
 51  30 Mbps     724 non-null    float64
 52  31 Mbps     4 non-null      float64
 53  32 Mbps     2 non-null      float64
 54  34 Mbps     1 non-null      float64
 55  35 Mbps     13 non-null     float64
 56  36 Mbps     3 non-null      float64
 57  38 Mbps     1 non-null      float64
 58  39 Mbps     1 non-null      float64
 59  40 Mbps     98 non-null     float64
 60  41 Mbps     1 non-null      float64
 61  45 Mbps     3 non-null      float64
 62  46 Mbps     1 non-null      float64
 63  48 Mbps     4 non-null      float64
 64  49 Mbps     1 non-null      float64
 65  50 Mbps     692 non-null    float64
 66  50,1 Mbps   1 non-null      float64
 67  50,25 Mbps  1 non-null      float64
 68  51 Mbps     2 non-null      float64
 69  55 Mbps     3 non-null      float64
 70  58 Mbps     1 non-null      float64
 71  59 Mbps     1 non-null      float64
 72  60 Mbps     261 non-null    float64
 73  61 Mbps     3 non-null      float64
 74  62 Mbps     1 non-null      float64
 75  64 Mbps     1 non-null      float64
 76  65 Mbps     2 non-null      float64
 77  66 Mbps     1 non-null      float64
 78  70 Mbps     17 non-null     float64
 79  75 Mbps     231 non-null    float64
 80  78 Mbps     1 non-null      float64
 81  80 Mbps     31 non-null     float64
 82  83 Mbps     1 non-null      float64
dtypes: float64(79), object(4)
memory usage: 2.0+ MB

ACCESOS A INTERNET FIJO POR TECNOLOGIA Y LOCALIDAD

In [24]:
df_14 = pd.read_csv("AccesosaInternetfijoportecnologiaylocalidad.csv")
df_14.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3137 entries, 0 to 3136
Data columns (total 14 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Provincia      3137 non-null   object
 1   Partido        3137 non-null   object
 2   Localidad      3137 non-null   object
 3   Link Indec     3137 non-null   object
 4   ADSL           3137 non-null   object
 5   CABLEMODEM     3137 non-null   object
 6   DIAL UP        3137 non-null   object
 7   FIBRA OPTICA   3137 non-null   object
 8   OTROS          3137 non-null   object
 9   SATELITAL      3137 non-null   object
 10  WIMAX          3137 non-null   object
 11  WIRELESS       3137 non-null   object
 12  Total general  3137 non-null   object
 13  Unnamed: 13    0 non-null      float64
dtypes: float64(1), object(13)
memory usage: 343.2+ KB

LISTADO DE LOCALIDADES CON CONECTIVIDAD A INTERNET

In [23]:
df_15 = pd.read_csv("Listadodelocalidadesconconectividadainternet.csv")
df_15.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4311 entries, 0 to 4310
Data columns (total 12 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Provincia       4311 non-null   object
 1   Partido         4311 non-null   object
 2   Localidad       4311 non-null   object
 3   ADSL            4311 non-null   object
 4   Cablemódem      4311 non-null   object
 5   Dial Up         4311 non-null   object
 6   Fibra óptica    4311 non-null   object
 7   4G              4311 non-null   object
 8   3G              4311 non-null   object
 9   Telefonía Fija  4311 non-null   object
 10  Wireless        4311 non-null   object
 11  Satelital       4311 non-null   object
dtypes: object(12)
memory usage: 404.3+ KB